extends layout

block content
  // Search with Discovery
  .row
    .col-md-8.col-md-offset-2
      .input-group
        input.form-control(type="text", id="discoverySearchText", placeholder="Search Discovery")
        span.input-group-btn
          button.btn.btn-primary(id="discoverySearchBtn", style="margin-top: 0px;")
            i.fa.fa-search 
            |  Search

  .row.no-margin-bottom
    // Patient Chat Window
    .col-md-7
      .card
        .card-header
          .card-title
            .title
              i.fa.fa-comments-o
                |  #{currentPatient.name}
        .card-body.no-padding
          ul.message-list(id="message-list")
          .col-md-12
            .input-group(id="messageInputGroup", style="margin-bottom: 10px;")
              input.form-control(type="text", id="sendMessageText", placeholder="Talk to patient...")
              span.input-group-btn
                button.btn.btn-primary(id="sendMessageBtn", style="margin-top: 0px;")
                  i.fa.fa-paper-plane
                  |  Send

    // Doctor's Notes
    .col-md-5
      .card
        .card-header
          .card-title
            .title
              i.fa.fa-notes
                |  Notes on #{currentPatient.name}
        .card-body
          .row
            .col-xs-3
              img(src=currentPatient.image, style="width: 75%")
            .col-xs-4
              p #{currentPatient.name} Gets Irritated
              h3(id="patientTimer") 1:00
            .col-xs-5
              p Activate Eliza
              input(type="checkbox", id="elizaToggle")
          .row
            .col-xs-12
              .tab.tabs-left(role="tabpanel")
                ul.nav.nav-tabs(role="tablist")
                  li.active(role="presentation")
                    a(href="#notes", aria-controls="notes", role="tab", data-toggle="tab") Notes
                  li(role="presentation")
                    a(href="#toolbox", aria-controls="toolbox", role="tab", data-toggle="tab") Toolbox
                .tab-content
                  .tab-pane.active(role="tabpanel", id="notes", style="padding: 0px 5px;")
                    textarea.form-control(rows="14")
                  .tab-pane(role="tabpanel", id="toolbox", style="padding: 0px 5px;")
                    .list-group.toolbox
                      a.list-group-item(data-toggle="modal", data-target="#depressionModal")
                        h4.list-group-item-heading Major Depression DSM
                        p.list-group-item-text Diagnostic assessment for Major Depression
                      a.list-group-item(data-toggle="modal", data-target="#narcissismModal")
                        h4.list-group-item-heading Narcissism DSM
                        p.list-group-item-text Diagnostic assessment for Narcissism Personality Disorder
                      a.list-group-item(data-toggle="modal", data-target="#ocdModal")
                        h4.list-group-item-heading OCD DSM
                        p.list-group-item-text Diagnostic assessment for Obsessive Compulsive Disorder
                      a.list-group-item(data-toggle="modal", data-target="#dependentModal")
                        h4.list-group-item-heading Dependent Personality Disorder DSM
                        p.list-group-item-text Diagnostic assessment for Dependent Personality Disorder
                      a.list-group-item(data-toggle="modal", data-target="#ppdModal")
                        h4.list-group-item-heading Paranoid Personality Disorder DSM
                        p.list-group-item-text Diagnostic assessment for Paranoid Personality Disorder
                      a.list-group-item(data-toggle="modal", data-target="#spdModal")
                        h4.list-group-item-heading Schizoid Personality Disorder DSM
                        p.list-group-item-text Diagnostic assessment for Schizoid Personality Disorder
                      a.list-group-item(data-toggle="modal", data-target="#apdModal")
                        h4.list-group-item-heading Anti-Social Personality Disorder DSM
                        p.list-group-item-text Diagnostic assessment for Anti-Social Personality Disorder
                      a.list-group-item(data-toggle="modal", data-target="#bpdModal")
                        h4.list-group-item-heading Borderline Personality Disorder DSM
                        p.list-group-item-text Diagnostic assessment for Borderline Personality Disorder


          .row
            .col-xs-12
              label(for="diagnosisDropdown") Choose Diagnosis
              select.form-control(id="diagnosisDropdown")
                option
                option(value="Not Diagnosible") Not Diagnosible
                option(value="Depression") Depression
                option(value="Narcissism") Narcissism
                option(value="OCD") OCD
                option(value="DPD") Dependent Personality Disorder
                option(value="PPD") Paranoid Personality Disorder
                option(value="SPD") Schizoid Personality Disorder
                option(value="APD") Anti-Social Personality Disorder
                option(value="BPD") Borderline Personality Disorder


  // Discovery Search Results Modal
  .modal.fade(id="discoveryModal", tabindex="-1", role="dialog", aria-labelledby="discoveryModal")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title(id="search-title") Discovery Search Results
        .modal-body.row
          .col-md-12
            .list-group(id="search-results")

  // Diagnosis Modals
  .modal.fade(id="diagnosisModal", tabindex="-1", role="dialog", aria-labelledby="diagnosisModal")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Are you sure?
        .modal-body.row
          .col-md-12
            p(id="diagnosisSelectionModal")
          .col-md-12
            button.btn.btn-primary(id="diagnosisConfirmationBtn" style="margin-right: 10px;") Yes
            button.btn.btn-danger(type="button", data-dismiss="modal") No


  .modal.fade(id="confirmationModal", tabindex="-1", role="dialog", aria-labelledby="confirmationModal")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title(id="confirmationTitle")
        .modal-body.row
          .col-md-12
            p(id="confirmationMessage")

  // Toolbox Modals
  .modal.fade(id="depressionModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Major Depression (DSM-IV criteria)
        .modal-body.row
          .col-md-12
            ul
              li Depressed mood or loss of interest or pleasure
              li At least one of
                ul 
                  li Significant weight loss or reduced or increased appetite   
                  li Insomnia or hypersomnia
                  li Observable agitation or psychomotor retardation
                  li Fatigue or loss of energy
                  li Feelings of worthlessness or excessive guilt   
                  li Reduced concentration
                  li Recurrent thoughts of death or suicide
              li Symptoms are present most of the day, nearly every day, for at least two weeks
              li Symptoms cause significant distress or impairment


  .modal.fade(id="narcissismModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Narcissistic Personality Disorder (DSM IV)
        .modal-body.row
          .col-md-12
            p 
              | A pervasive pattern of grandiosity (in fantasy or behavior), need for admiration, 
              | and lack of empathy, beginning by early adulthood and present in a variety of contexts, 
              | as indicated by five (or more) of the following: 
            ol
              li 
                | has a grandiose sense of self-importance (e.g., exaggerates achievements and talents, 
                | expects to be recognized as superior without commensurate achievements) 
              li is preoccupied with fantasies of unlimited success, power, brilliance, beauty, or ideal love 
              li 
                | believes that he or she is "special" and unique and can only be understood by, or should 
                | associate with, other special or high-status people (or institutions) 
              li requires excessive admiration 
              li 
                | has a sense of entitlement, i.e., unreasonable expectations of especially favorable 
                | treatment or automatic compliance with his or her expectations 
              li is interpersonally exploitative, i.e., takes advantage of others to achieve his or her own ends 
              li lacks empathy: is unwilling to recognize or identify with the feelings and needs of others 
              li is often envious of others or believes that others are envious of him or her 
              li shows arrogant, haughty behaviors or attitudes

  .modal.fade(id="ocdModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Obsessive Compulsive Disorder (DSM IV)
        .modal-body.row
          .col-md-12
            p A. Either obsessions or compulsions: 
            p Obsessions as defined by (1), (2), (3), and (4): 
            ol
              li 
                | recurrent and persistent thoughts, impulses, or images that are experienced, at some 
                | time during the disturbance, as intrusive and inappropriate and that cause marked anxiety or distress 
              li the thoughts, impulses, or images are not simply excessive worries about real-life problems 
              li
                | the person attempts to ignore or suppress such thoughts, impulses, or images, or to neutralize them 
                | with some other thought or action 
              li
                | the person recognizes that the obsessional thoughts, impulses, or images are a product of his or her 
                | own mind (not imposed from without as in thought insertion) 
            p Compulsions as defined by (1) and (2): 
            ol
              li 
                | repetitive behaviors (e.g., hand washing, ordering, checking) or mental acts (e.g., praying, counting, 
                | repeating words silently) that the person feels driven to perform in response to an obsession, or 
                | according to rules that must be applied rigidly 
              li
                | the behaviors or mental acts are aimed at preventing or reducing distress or preventing some dreaded 
                | event or situation; however, these behaviors or mental acts either are not connected in a realistic 
                | way with what they are designed to neutralize or prevent or are clearly excessive 

            p 
              | B. At some point during the course of the disorder, the person has recognized that the obsessions or 
              | compulsions are excessive or unreasonable. Note: This does not apply to children. 
            p
              | C. The obsessions or compulsions cause marked distress, are time consuming (take more than 1 hour a 
              | day), or significantly interfere with the person's normal routine, occupational (or academic) 
              | functioning, or usual social activities or relationships. 
            p
              | D. If another Axis I disorder is present, the content of the obsessions or compulsions is not 
              | restricted to it (e.g., preoccupation with food in the presence of an Eating Disorders; hair pulling 
              | in the presence of Trichotillomania; concern with appearance in the presence of Body Dysmorphic Disorder; 
              | preoccupation with drugs in the presence of a Substance Use Disorder; preoccupation with having a serious 
              | illness in the presence of Hypochondriasis; preoccupation with sexual urges or fantasies in the presence 
              | of a Paraphilia; or guilty ruminations in the presence of Major Depressive Disorder). 
            p
              | E. The disturbance is not due to the direct physiological effects of a substance(e.g., a drug of abuse, 
              | a medication) or a general medical condition. 


  .modal.fade(id="dependentModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Dependent Personality Disorder (DSM IV)
        .modal-body.row
          .col-md-12
            p 
              | A pervasive and excessive need to be taken care of that leads to submissive and clinging behavior 
              | and fears of separation, beginning by early adulthood and present in a variety of contexts, as indicated 
              | by five (or more) of the following: 
            ol
              li has difficulty making everyday decisions without an excessive amount of advice and reassurance from others 
              li needs others to assume responsibility for most major areas of his or her life 
              li 
                | has difficulty expressing disagreement with others because of fear of loss of support or approval. 
                | Note: Do not include realistic fears of retribution. 
              li
                | has difficulty initiating projects or doing things on his or her own (because of a lack of self-confidence 
                | in judgment or abilities rather than a lack of motivation or energy) 
              li
                | goes to excessive lengths to obtain nurturance and support from others, to the point of volunteering to 
                | do things that are unpleasant 
              li
                | feels uncomfortable or helpless when alone because of exaggerated fears of being unable to care for 
                | himself or herself 
              li urgently seeks another relationship as a source of care and support when a close relationship ends 
              li is unrealistically preoccupied with fears of being left to take care of himself or herself

  .modal.fade(id="ppdModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Paranoid Personality Disorder (DSM-IV criteria)
        .modal-body.row
          .col-md-12
            ul
              li Suspects, without sufficient basis, that others are exploiting, harming, or deceiving him or her
              li Is preoccupied with unjustified doubts about the loyalty or trustworthiness of friends or associates 
              li Is reluctant to confide in others because of unwarranted fear that the information will be used maliciously against him or her
              li Reads hidden demeaning or threatening meanings into benign remarks or events
              li Persistently bears grudges, i.e., is unforgiving of insults, injuries, or slights 
              li Perceives attacks on his or her character or reputation that are not apparent to others and is quick to react angrily or to counterattack 
              li Has recurrent suspicions, without justification, regarding fidelity of spouse or sexual partner 

  .modal.fade(id="spdModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Schizoid Personality Disorder (DSM-IV criteria)
        .modal-body.row
          .col-md-12
            ul
              li Neither desires nor enjoys close relationships, including being part of a family 
              li Almost always chooses solitary activities
              li Has little, if any, interest in having sexual experiences with another person
              li Takes pleasure in few, if any, activities
              li Lacks close friends or confidants other than first-degree relatives 
              li Appears indifferent to the praise or criticism of others 
              li Shows emotional coldness, detachment, or flattened affectivity

  .modal.fade(id="apdModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Anti-Social Personality Disorder (DSM-IV criteria)
        .modal-body.row
          .col-md-12
            ul
              li There is a pervasive pattern of disregard for and violation of the rights of others occurring since age 15 years, as indicated by three (or more) of the following:
              ol
                li Failure to conform to social norms with respect to lawful behaviors as indicated by repeatedly performing acts that are grounds for arrest
                li Deceitfulness, as indicated by repeated lying, use of aliases, or conning others for personal profit or pleasure
                li Impulsivity or failure to plan ahead
                li Irritability and aggressiveness, as indicated by repeated physical fights or assaults
                li Reckless disregard for safety of self or others
                li Consistent irresponsibility, as indicated by repeated failure to sustain consistent work behavior or honor financial obligations
                li Lack of remorse, as indicated by being indifferent to or rationalizing having hurt, mistreated, or stolen from another.
              li The individual is at least age 18 years.
              li There is evidence of conduct disorder with onset before age 15 years.
              li The occurrence of antisocial behavior is not exclusively during the course of schizophrenia or a manic episode.
  .modal.fade(id="bpdModal", tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Borderline Personality Disorder (DSM-IV criteria)
        .modal-body.row
          .col-md-12
            p A pervasive pattern of instability of interpersonal relationships, self-image, and affects, and marked impulsivity beginning by early adulthood and present in a variety of contexts, as indicated by five (or more) of the following:
            ul
              li 
                | Frantic efforts to avoid real or imagined abandonment. 
                | Note: Do not include suicidal or self-mutilating behavior covered in Criterion 5. 
              li A pattern of unstable and intense interpersonal relationships characterized by alternating between extremes of idealization and devaluation 
              li Identity disturbance: markedly and persistently unstable self-image or sense of self 
              li
                | Impulsivity in at least two areas that are potentially self-damaging (e.g., spending, sex, Substance Abuse, reckless driving, binge eating). 
                | Note: Do not include suicidal or self-mutilating behavior covered in Criterion 5. 
              li Recurrent suicidal behavior, gestures, or threats, or self-mutilating behavior 
              li Affective instability due to a marked reactivity of mood (e.g., intense episodic dysphoria, irritability, or anxiety usually lasting a few hours and only rarely more than a few days) 
              li Chronic feelings of emptiness 
              li Inappropriate, intense anger or difficulty controlling anger (e.g., frequent displays of temper, constant anger, recurrent physical fights) 
              li Transient, stress-related paranoid ideation or severe dissociative symptoms