extends layout

block content
  .row
    .col-md-12
      .card
        .card-header
          .card-title
            .title
              i.fa.fa-cog
              |  Settings
        .card-body
          p Settings will go here.
